
body{font-family: 'Segoe UI Emoji','Segoe UI Regular';}
/*body{font-family: 'Poppins';}*/
a:hover{text-decoration:none; color: #e95a50;}
input:focus, select:focus, textarea:focus {outline: 0;}
a {outline: 0!important;color: #21abe9;text-decoration: none;}
button {cursor: pointer;}
a,button,::before,::after,.menu_toggle span{transition:all .2s ease 0s;}
ul{padding:0;margin:0;list-style:none}
a:focus,button:focus{outline:0}
img {max-width: 100%; height: auto;/* padding-bottom: 10px;*/}
.main_container {margin-bottom: 70px;min-height: 500px;}
header .row {align-items: center;}
.display_flex{display:flex;flex-wrap:wrap;align-items:center}
p {margin-top: 0;margin-bottom: 0;} .overlay_div {position: fixed; width: 100%; height: 100%; top: 0; bottom: 0; left: 0; right: 0; background: rgba(255, 255, 255, 0); opacity: 0; z-index: 3; display: none;overflow: hidden; }
.valign-wrapper {display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center;height: 100%; }
body.welcome {z-index: 2; position: relative; background: url(../image/service.png) no-repeat; background-size: cover; background-position: center; width: 100%; -webkit-font-smoothing: antialiased; }
.left_box{background: #277dff;border-radius: 15px 0px 0px 15px;padding: 30px; height: 460px;}
.heading img{height: 60px; width: 200px;}
.heading2 h2{letter-spacing: 1; position: relative; color: #fff; margin-bottom: 35px; font-weight: 600; font-size: 20px;}
.textBlock{
overflow: auto;
    resize: vertical;
    background: #287dff;
    border: 3px solid #fff;
    color: #ffff;
    width: 250px;
    padding: 50px 0px;
    text-align: center;
    font-size: 16px;}
.heading2 h2:after {content: ""; position: absolute; width: 80px; height: 3px; background-color: #fff; top: 40px; left: 13px; bottom: 0px; }
.textBlock textarea {overflow: auto; resize: vertical; background: #287dff; border: 3px solid #fff;    color: #ffff; }
.heading2,.heading{padding-left: 10px;}
.heading2{margin-top: 50px}
.right_box{text-align: center;padding: 30px;height: 460px;border-radius: 0px 15px 15px;background: #fff;}
.head h1{  font-size: 22px; font-weight: 600;margin-bottom: 0; color: #2a059c;}
.head2 h2 {color: #1d0665; font-size: 16px; font-style: italic; font-weight: 600;  }
.login-details h4 {position: relative; color: #3e3e3e; font-size: 22px; text-align: center; margin-bottom: 13px; }
.login-details h4:after {position: absolute; content: ''; height: 4px; bottom: -15px; left: 0; right: 0; margin: 0 auto; width: 7%; background: #0080fb; -o-transition: .5s; -ms-transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; transition: .5s; }
.login-details h4:hover:after {width: 10%;} 
fieldset.form-group {position: relative; }
.get_start {    -webkit-transform: translateZ(0);
    transform: translateZ(0);margin-top: 20px; width: 200px; height: 40px; background: #287dff; font-size: 16px; border: 0px solid #287dff; color: #fff; overflow: hidden; border-radius: 20px; position: relative; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; position: relative;    box-shadow: 0px 3px 6px #827f7f; -moz-box-shadow: 0px 3px 6px #827f7f; -webkit-box-shadow: 0px 3px 6px #827f7f; }
.common_css{padding-top: 100px;width: 70%;margin: 0 auto;text-align: center;}
.get_start:hover{box-shadow: none;-webkit-animation-name: wobble-horizontal; animation-name: wobble-horizontal; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-iteration-count: 1; animation-iteration-count: 1;border: 2px solid #287dff;color: #287dff; background: #fff;}
.form-label {color: #1d0665; font-size: 16px; font-style: italic; font-weight: 600; text-align: center; width: 100%; position: absolute; left: 0; top: -10px; background-color: #fff; z-index: 10; transition: transform 150ms ease-out, font-size 150ms ease-out; } .focused .form-label {transform: translateY(-120%); font-size: .75em; top: 10px }
.form-input {position: relative; padding: 12px 0px 5px 0; width: 100%; outline: 0; border: 0; box-shadow: 0 1px 0 0 #e5e5e5; transition: box-shadow 150ms ease-out; }
.form-input:focus {box-shadow: 0 2px 0 0 #287dff; }
.common_css .form-group {position: relative; margin-bottom: 1rem; }
.form-input.filled {box-shadow: 0 2px 0 0 lightgreen; }
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*dashboard*/
.css-7zhzs9-ContainerNavigationMask {
    display: flex;
    flex-direction: row;
   /* height: 100%;*/
    /* overflow: hidden; */
    justify-content: flex-start;
}
.css-1rawbl {
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    -webkit-box-pack: justify;
    /*justify-content: space-between;*/
    padding-bottom: calc(20px);
    padding-top: 24px;
    width: 64px;    height: calc(100vh + 350px);
    /*height: calc(100vh - 0px);*/
    background-color: rgb(7, 71, 166);
    color: rgb(255, 255, 255);
    fill: rgb(7, 71, 166);
    transition: background-color 0.3s cubic-bezier(0.2, 0, 0, 1) 0s, color 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}
.form-control:focus{
    /* border: none! important; */
    box-shadow: none!important;}
.css-jdgyoy-PrimaryItemsList {
       /* -webkit-box-align: center; */
    /* align-items: center; */
    display: flex;
    /* flex-direction: column; */
    /* -webkit-box-pack: justify; */
    justify-content: flex-start;
    /* width: 20%; */
    /* padding-bottom: 16px;*/
}
.css-1rawbl img{height: 32px;}
.css-1rawbl li{padding-bottom: 18px;}
.logo_img{height: 90px;}

/*Prachi*/
.sidebar-section{background-color: #0747a6;       width: 200px;
    word-break: break-word; box-shadow: 0 8px 6px 1px #071f42;}
.second-sidebar{margin: 25px 20px 50px 20px; border-bottom: 2px solid white;}
.sidebar-info {color: #fff; font-size: 14px; font-style: italic;}
.second-sidebar p {color: #fff; font-size: 16px; margin-top: -4px; margin-bottom: 20px;}
.css-1rawbl .logo_img img{height: 60px;}
.about-orders{margin: 25px 20px 0px 20px;}
.about-orders h1{font-size: 16px; color: #fff;}
.about-orders p{font-size: 16px; color: #fff; margin-top: -5px;}

/*right-part-dashboard*/
.dashboard-main-section{width: 100%;/* padding: 0px 15px 0px 15px;*/}
.operate-btn {    float: right;cursor: default;padding: 4px 25px 4px 25px; text-align: center;background-color: #0747a6;color: #fff;font-size: 16px;
  height: 40px; font-style: italic; border: none; border-radius: 8px;}
 .col-md-2.oper-btn {float: right; margin: 20px 0px 0px 0px;}
 .operate-btn img{height: 27px; /*position: absolute; left: 32px; top: 6px;*/}
 .heading-m {margin-bottom: 15px; margin-top: 6%; text-align: center; /*margin-bottom: 15px;*/}
 .heading-m h1 { font-size: 47px; color: #4c8ff5; margin: 0;}
 .heading-m h1 span{font-size: 37px;}
.main {    margin-bottom: 22px;
    /* margin: 25px 20px 50px 20px; */
    /* border-bottom: 2px solid #d8d8d8; */
    width: 50%;
    margin: 0px auto;
}
.main::after
{
  content: '';
  border-bottom: 2px solid #d8d8d8;
  width: 50%;
  display: block;
  margin: 0 auto;
}
.oper-btn{    margin-top: 20px;}
/* Bootstrap 4 text input with search icon */

.has-search .form-control {text-align: left;
    font-size: 16px;    border: 1px solid #d4d4d4;
    padding-left:48%;color: #1e0e44;
}
.has-search.form-group {position: relative;    margin-bottom: 10px;}
.has-search .form-control-feedback {
    /* position: relative; */
    /* z-index: 2; */
    /* display: block; */
    width: auto;
    height: 2rem;
    /* line-height: 2.375rem; */
    /* text-align: center; */
    /* pointer-events: none; */
    /* color: #aaa; */
    top: 7px;
    left: 44%;
}
::placeholder {
    color: #1e0e44;
   
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1e0e44;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #1e0e44;
  } 
.form-control{display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f3f3f3;
    background-clip: padding-box;
    border: none;
    border-radius: 13px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.common_css {
    padding-top: 70px; width: 70%; margin: 0px auto; text-align: center;}
.common_css .form-group {position: relative; margin-bottom: 20px;}
.common_css .form-group .mrg-30 {margin-bottom: 30px;}
.form-group.mrg-30 {margin-top: 30px;}
/*.sidebar-section-red{background-color: #c01200;  box-shadow: 0 8px 6px 1px #071f42;}*/
.second-sidebar-red{margin: 40px 20px 50px 20px; white-space: nowrap;}
.sidebar-info-red {color: #fff; font-size: 16px;}
.css-2rawbl {
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    -webkit-box-pack: justify;
    /*justify-content: space-between;*/
    padding-bottom: calc(20px);
    padding-top: 24px;
    width: 64px;    height: calc(100vh + 91px);
    /*height: calc(100vh - 0px);*/
    background-color: rgb(173, 14, 0);
    color: rgb(255, 255, 255);
    fill: rgb(7, 71, 166);
    transition: background-color 0.3s cubic-bezier(0.2, 0, 0, 1) 0s, color 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}
.css-2rawbl img{height: 32px;}
.css-2rawbl li{padding-bottom: 18px;cursor: pointer;}
.css-2rawbl .logo_img img{height: 60px;}
.sidebar-section-red{background-color: #c01200;box-shadow: 0 8px 6px 1px #ad0e00;word-break: break-all;}

.heading-red h1 { font-size: 40px; color: #c01200; text-align: center;
    margin-top: 50px;}
.heading-red p{ font-size: 20px; color: #404040; text-align: center; text-transform: uppercase;
    letter-spacing: 4px; margin-top: 15px; }
.main-sec-red{margin-top: 60px; margin-bottom: 20px;}
.parameters{font-size: 20px; font-weight: bolder; color: black;}
/*.parameters-section { width: 750px; }*/
.parameters-section ul {display: flex; justify-content: space-between;}
.toggle-button-cover{display: table-cell;position: relative;box-sizing: border-box;}
.button-cover{ border-radius: 4px;}
.button-cover:before{position: absolute; right: 0;bottom: 0;color: #d7e3e3;font-size: 12px;line-height: 1;padding: 5px;}
.button-cover, .knobs, .layer{position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.button{position: relative; width: 50px;height: 25px;overflow: hidden;}
.button.r, .button.r .layer{border-radius: 100px;}
.button.b2{border-radius: 2px;}
.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs{z-index: 2;}

.layer{width: 100%; background-color: #c01200; transition: 0.3s ease all; z-index: 1;}

/* Button 1 */
#button-1 .knobs:before
{
    content: 'YES';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 20px;
    height: 20px;
    color: #4d4d4d;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    /* line-height: 1; */
    padding: 6px 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{ content: 'NO';height: 20px;left: 25px;background-color: #fff;}

#button-1 .checkbox:checked ~ .layer{background-color: #c01200;}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{ transition: 0.3s ease all;}
.project-section{margin-top: 15px;}
.syd-content p {padding-left: 70px;padding-top: 5px;}
.form-group1 input{border-radius: 5px; border: none; background-color: #e9e9e9;
    padding: 3px 10px; width: 500px; height: 33px; font-size: 16px;     font-style: italic;}
.form-group2 input{border-radius: 5px; border: none; background-color: #e9e9e9;
    padding: 5px 10px;  height: 80px; width: 300px; font-size: 16px; font-style: italic;} 
.main-sec-red1{margin-top: 45px; /**/}
.form-group3 input{border-radius: 5px; border: none; background-color: #e9e9e9;
    padding: 2px 10px; width: 300px; height: 33px; font-size: 16px;
    font-style: italic;}
.textBlock1 textarea {
    width:500px;
    overflow: auto;
    resize: vertical;
    background: #e9e9e9;
    border: 1px solid #fff;
    color: #333;
    padding: 3px 10px;
        border-radius: 5px;
        font-size: 16px;
    font-style: italic;}
ul.project-section li p {
    padding-top: 7px;
    font-size: 16px;}
ul.parameters-section li p {
    padding-top: 7px;
    font-size: 16px;}
ul.para-section li p{ font-size: 16px;
    padding-top: 7px;}
.sub-bttn{   display: inline-block;margin-bottom:10px;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
    margin-top: 30px; width: 200px; height: 40px; padding: 5px 0px 5px 0px;
background: #ad0e00; font-size: 16px;
border: 0px solid #ad0e00; color: #fff; overflow: hidden;
border-radius: 20px; position: relative;
-webkit-transition: all 0.3s; -moz-transition: all 0.3s;
-o-transition: all 0.3s; transition: all 0.3s;
}
.sub-btn {text-align: center;}
/*.block-list{font-size: 20px;
    font-weight: bolder;
    color: black;}*/
.user-block ul{display: flex;
    justify-content: space-between;}
.newlogo-img img{height: 60px; width: 200px;}
.block-section{/*width: 750px;*/ margin-bottom: 50px; margin-left: 0; }
.block-search input {    width: 397px;
    background-color: #e8e8e8;
    border: none;
    height: 30px;
    border-radius: 5px;
}
.block-button { font-size: 14px;  
    cursor: pointer;
    border: none;
    background-color: #ad0e00;
    color: #fff;
   border-radius: 5px;
        padding: 5px 28px 5px 28px;
}
.block-search input[type="text"] {
    padding: 10px;
}
.chng-password{/*width: 750px;*/ margin-bottom: 50px; margin-left: 0;}
.pass-field ul{display: flex; justify-content: space-between;}
/*.chng-password h1{font-size: 20px;
    font-weight: bolder;
    color: black;}*/
.list-of-users{display: block !important;   }
.list-of-users span{margin-left: 10px;}
.xy {
    background-color: rgb(173, 14, 0);
}
/*.below-section{ margin-left: 50px;}*/
.main-red-sec{width: 100%; padding: 0px 40px;}
.filters ul {display: flex; justify-content: center; margin-top: 10px;}
.filters ul li {padding: 0px 6;   color: #1e0e44;cursor: pointer;
    font-weight: 500;}
.table-main-section h1 {    margin: 20px 0; font-size: 24px; font-weight: 600; color: #1e0e44;}
.table-heading-section{font-size: 12px;}
.table-subheading{font-size: 12px;}
td.report {color: #1f3784;}
table.table.tab-sec{margin-bottom: 30px;}
.table-content span{float: right; color: #3f8fdc; font-size: 12px;    margin-top: -4px;}
.filters { margin-top: 20px;}
.filters li.active ,.filters li.active :hover{
    border-bottom: 2px solid #449af3!important;
    color: #449af3;
    font-weight: 900;
}
.filters li:hover{ border-bottom: 2px solid #1e0e44;}
.filters li:first-child:hover{ border-bottom: none;}
.notification {position: relative;}
li.notification {border-right: 1px solid #4d4d4d;}
.notification .nott {
    position: absolute;
    top: -13px;
    right: -1px;
    padding: 2px 5px 2px 5px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 9px;
}
.foSi label {    margin-bottom: 15px !important;}
li.page-item {
    padding: 0 11px;
}
ul.bottom-pagination {
    display: flex;
    justify-content: center;
}
a.page-link {
    color: #767676;
}

.main-sec-red{margin-top: 60px; margin-bottom: 20px; background-color: #f9f9f9;
   padding: 2px 10px 7px 10px; box-shadow: 4px 4px 3px 0px #f7f7f7;}
.main-sec-red1{margin-top: 45px; background-color: #f7f7f7;
   padding: 2px 10px 7px 10px;
   box-shadow: 4px 4px 3px 0px #f7f7f7;}

.block-section{background-color: #f7f7f7;
   padding: 2px 10px 7px 10px;
   box-shadow: 4px 4px 3px 0px #f7f7f7;
}
.chng-password{background-color: #f7f7f7;
   padding: 2px 10px 7px 10px;
   box-shadow: 4px 4px 3px 0px #f7f7f7;}

.sub-bttn:hover {font-weight: bold;background: #fff;border: 2px solid #ad0e00;color: #ad0e00;box-shadow: none;-moz-box-shadow: none; -webkit-box-shadow: none;

    -webkit-animation-name: wobble-horizontal;
    animation-name: wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.block_msg{    color: red;
    font-weight: 700;
    margin: 2px 0px 10px;
    font-size: 12px;}
.errormsg{width: 300px;
    color: red;
    font-size: 12px;
    font-weight: 700;}

.pagination {text-align: center;
    width: 100%;
}
.pagination .link{    border-right: 1px solid #c01200;
   padding: 0px 7px;}
.pagination .link2{
   padding: 0px 7px;}
.pagination .step-links1{
     /* border: 2px solid #0747a6;*/
    /* height: 62px; */
    padding: 10px 10px;}
.pagination .link:hover{
    color:#c01200;
    font-weight:700;
}
.pagination .link:last-child{    border-right: none;}
.pagination  .current {    cursor: not-allowed;}
.errorMsg1{font-size: 16px;
    color: red;
    width: 100%;
    font-weight: 700;}
    .table-responsive { width: 100%; } 
    .tab_icon{height: 10px;}
.errorMsg2{font-size: 16px;
       
        width: 100%;
        font-weight: 700;}

.validation{
    display: none;
}



.heading-red h1 span {
    font-size: 37px;
}
.heading-red h1 {
    font-size: 47px;
    color: #c01200;
    text-align: center;
    margin-top: 50px;
}
.button.r, .button.r .layer {
   border-radius: 100px;
   border: 2px solid #aeaeae;
}
.button {
   position: relative;
   width: 53px;
   height: 30px;
   overflow: hidden;
}
.form-input {
   background-color: white!important;

}
.hoverRighticon:hover,.hoverRighticon1:hover{background: #002060;color: #fff;}
.sidebar-section-red {width: 215px;position: relative;}
.secIcon{display: none;    font-weight: bold;}
.sidebar-section.removesidebarU{width: 15px;}
.sidebar-section-red.removesidebar{width: 15px;}
.hoverRighticon.changehovericon{left: 8px;}
.hoverRighticonuserda.changehovericonU{left: 8px;}
.hoverRighticon,.hoverRighticonuserda{ left: 207px;
    /* margin-top: 14%; */
    z-index: 999999;
    position: absolute;
    /* margin-left: -3%; */
    top: 4%;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 1px solid #a6a6a6;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px 6px;
    box-shadow: -1px 0px 5px #a2a2a2;}


    .sidebar-section{position: relative;    width: 215px;}
.secIcon1{display: none;}
.hoverRighticon1.changehovericon1{left: 8px;top: 7%;}
.hoverRighticon1{ left: 207px; z-index: 999999; position: absolute; top: 7%; background: #fff; width: 20px; height: 20px; border: 1px solid #a6a6a6; border-radius: 50%; cursor: pointer; padding: 2px 6px; box-shadow: -1px 0px 5px #a2a2a2;}
.sidebar-section.removesidebar1{width: 15px;}
.hoverRighticon,.hoverRighticon1{display: none;}
.sidebar-section:hover .hoverRighticon1,.sidebar-section-red:hover .hoverRighticon,
.sidebar-section-red.removesidebar .hoverRighticon,.sidebar-section.removesidebar .hoverRighticon1{display: block}
.sidebar-section.removesidebar1 .hoverRighticon1.changehovericon1{display: block;top:3.2%;}
.errorMsgNoTickt{font-size: 16px;color: #000;font-style: italic;font-weight: 800;margin-bottom: 15px;}
.errorMsgNoTickt1{font-size: 16px;color: #262626;margin-bottom: 10px;}
.errorMsgNoTickt2{font-size: 16px;font-style: italic;color: #262626;}
.errorEmail,.errorcontact{color: #2977c4;font-weight: 600;}
.errorMsg_div{margin-top: 30px;}
#example_length,#example_filter,#example_paginate,#example_info{display: none;}
table.dataTable thead .sorting_asc:after{   position: absolute;opacity: 1 !important;color: #2977c4;}
table.dataTable thead .sorting:after { opacity: 0.4 !important; color: #2977c4; }

    .sidebar-section{position: relative;    width: 215px;}
.secIcon1{display: none;}
.hoverRighticon1.changehovericon1{left: 8px;top: 7%;}
.hoverRighticon1{ left: 207px; z-index: 999999; position: absolute; top: 7%; background: #fff; width: 20px; height: 20px; border: 1px solid #a6a6a6; border-radius: 50%; cursor: pointer; padding: 2px 6px; box-shadow: -1px 0px 5px #a2a2a2;}
.sidebar-section.removesidebar1{width: 15px;}
.createTickMsg{float: left;float: left;font-size: 12px;margin-bottom: 15px;}
.orderBox2 #search_txt{color: #ffffff; border: none; width: 100%; background: transparent; } 
.orderBox2 #search_txt::-webkit-input-placeholder { color: #fff; }
.scrollBox{overflow-y: scroll;height: 300px;}


.scrollbar::-webkit-scrollbar { /* background-color:#fff; */ width:8px }
.scrollbar::-webkit-scrollbar-track { /* background-color:#fff */ }
.scrollbar::-webkit-scrollbar-track:hover { /* background-color:#f4f4f4 */ }
/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb { background-color:#3ab401;	background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent); border-radius:16px; border:2px solid #fff }
.scrollbar::-webkit-scrollbar-thumb:hover { background-color:#298500; border:2px solid #f4f4f4 }
.scrollbar::-webkit-scrollbar-button {display:none}
.scrollbar {overflow-y: scroll}
.overflow{min-height: 100vh}
.list-of-users span a:hover{font-weight: 700;    color: #c01a00;}
.attachment a .fa{margin-left: 10px;}
.table>thead:first-child>tr:first-child>th:first-child:after {
   display:none;
}
.daterangepicker.ltr.show-calendar.opensleft{right: 296.406px !important;left: 520px !important;}