@media(max-width: 768px) {

}

@media only screen and (min-width: 768px) and (max-width: 1022px){
/*.parameters-section{width: auto;}
.block-section{width: auto;}
.chng-password{width: auto;}*/

/* .dashboard-main-section {width: 63%;} */
.dashboard-main-sectionUser {width: 70%;}
.form-group1 input {width: 300px;}
.textBlock1 textarea { width: 300px;}
.block-search input { width: 200px;}
.sidebar-section-red {width: 175px; } 
ul.project-section li p {font-size: 14px;}
.css-1rawbl img { height: 20px; }
.css-1rawbl .logo_img img { height: 50px; }
.sidebar-section {width: 145px; }
}


@media(max-width: 576px) {
.mbl_box{padding-right: 15px!important;padding-left: 15px!important;}
.valign-wrapper {-webkit-align-items: flex-start;-ms-flex-align: flex-start;align-items: flex-start;margin: 20px 0px 50px;}
.right_box,.left_box{height: auto;border-radius: 0px ;}
}


@media(max-width: 1024px) {
.sidebar-info-red{font-size: 12px;}
.parameters{font-size: 16px;}
.heading-red h1{font-size: 34px;}
.sub-bttn {width: 140px;}
.main-red-sec {width: 100%;padding: 0px 30px;}
.filters {font-size: 11px;}
.has-search .form-control-feedback {left: 36%;}
.table-responsive { width: 100%; } 
.table-main-section h1 { margin: 18px 0; font-size: 18px; line-height: 1; }
.table-content span {margin-top: -6px;}
.heading-m h1 {font-size: 25px;}
.heading-m h1 span { font-size: 19px; }
.dashboard-main-section { width: 72%; }
.sidebar-info ,.about-orders h1 {font-size: 12px;}
.about-orders p {font-size: 11px;}
.operate-btn {font-size: 13px;}
.second-sidebar1 p.sideh {font-size: 15px!important;}

}


@media only screen and (min-width: 993px) and (max-width: 1024px){
	.main-red-sec {
    width: 100%;}
}


@media screen and (max-width: 823px ) and (orientation: landscape) { 
 .right_box,.left_box{height: auto;border-radius: 0px ;}
.valign-wrapper {-webkit-align-items: flex-start;-ms-flex-align: flex-start;align-items: flex-start;margin: 20px 0px 50px;}  
}





