{% load static %}
{% block content %}
{% include '_head.html'%}


<script>
  sessionStorage.setItem("filter", "All")
  sessionStorage.setItem("searchkey", "")
  function firstnextfunc() {
    var ticket_title = $("#ticket_title").val();
    var contact_aplicant_mail = $("#contact_aplicant_mail").val();
    var lastname = $("#lastname").val();
    var firstname = $("#firstname").val();
    var phone = $("#phone").val();
    var enterprise = $("#enterprise").val();
    var mailcopy = $("#mailcopy").val();
    if (phone != "") {
      if (ticket_title != "" && contact_aplicant_mail != "" && phone.match('[0-9]{9}') &&
        contact_aplicant_mail.match('[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$') &&
        lastname != "" && firstname != "" && enterprise != "") {
        if (phone != "") {
          if (!phone.match('[0-9]{10}')) {
            $("#phoneerr1").css("display", "block")
          } else {
            $("#titleerr").css("display", "none")
            $("#contact_aplicant_mailerr").css("display", "none")
            $("#contact_aplicant_mailerr1").css("display", "none")
            $("#lastnameerr").css("display", "none")
            $("#firstnameerr").css("display", "none")
            $("#phoneerr1").css("display", "none")
            $("#enterpriseerr").css("display", "none")
            $("#mailcopyerr").css("display", "none")
            $("#mailcopyerr1").css("display", "none")

            $('#firstnext').trigger("click");
          }
        } else {
          $("#titleerr").css("display", "none")
          $("#contact_aplicant_mailerr").css("display", "none")
          $("#contact_aplicant_mailerr1").css("display", "none")
          $("#lastnameerr").css("display", "none")
          $("#firstnameerr").css("display", "none")
          $("#phoneerr1").css("display", "none")
          $("#enterpriseerr").css("display", "none")
          $("#mailcopyerr").css("display", "none")
          $("#mailcopyerr1").css("display", "none")

          $('#firstnext').trigger("click");
        }
      } else {
        if (ticket_title == "") {
          $("#titleerr").css("display", "block")
        } else {
          $("#titleerr").css("display", "none")
        }
        if (contact_aplicant_mail == "") {
          $("#contact_aplicant_mailerr").css("display", "block")
          $("#contact_aplicant_mailerr1").css("display", "none")
        } else {
          if (!contact_aplicant_mail.match('[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$')) {
            $("#contact_aplicant_mailerr").css("display", "none")
            $("#contact_aplicant_mailerr1").css("display", "block")
          } else {
            $("#contact_aplicant_mailerr").css("display", "none")
            $("#contact_aplicant_mailerr1").css("display", "none")
          }
        }
        if (lastname == "") {
          $("#lastnameerr").css("display", "block")
        } else {
          $("#lastnameerr").css("display", "none")
        }
        if (firstname == "") {
          $("#firstnameerr").css("display", "block")
        } else {
          $("#firstnameerr").css("display", "none")
        }
        if (phone != "") {
          if (!phone.match('[0-9]{9}')) {
            $("#phoneerr1").css("display", "block")
          } else {
            $("#phoneerr1").css("display", "none")
          }
        }
        if (enterprise == "") {
          $("#enterpriseerr").css("display", "block")
        } else {
          $("#enterpriseerr").css("display", "none")
        }
        if (mailcopy != "") {
          if (!mailcopy.match('[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$')) {
            $("#mailcopyerr1").css("display", "block")
          } else {
            $("#mailcopyerr1").css("display", "none")
          }
        }
      }
    } else {
      if (ticket_title != "" && contact_aplicant_mail != "" &&
        contact_aplicant_mail.match('[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$') &&
        lastname != "" && firstname != "" && enterprise != "") {
        if (phone != "") {
          if (!phone.match('[0-9]{10}')) {
            $("#phoneerr1").css("display", "block")
          } else {
            $("#titleerr").css("display", "none")
            $("#contact_aplicant_mailerr").css("display", "none")
            $("#contact_aplicant_mailerr1").css("display", "none")
            $("#lastnameerr").css("display", "none")
            $("#firstnameerr").css("display", "none")
            $("#phoneerr1").css("display", "none")
            $("#enterpriseerr").css("display", "none")
            $("#mailcopyerr").css("display", "none")
            $("#mailcopyerr1").css("display", "none")

            $('#firstnext').trigger("click");
          }
        } else {
          $("#titleerr").css("display", "none")
          $("#contact_aplicant_mailerr").css("display", "none")
          $("#contact_aplicant_mailerr1").css("display", "none")
          $("#lastnameerr").css("display", "none")
          $("#firstnameerr").css("display", "none")
          $("#phoneerr1").css("display", "none")
          $("#enterpriseerr").css("display", "none")
          $("#mailcopyerr").css("display", "none")
          $("#mailcopyerr1").css("display", "none")

          $('#firstnext').trigger("click");
        }
      } else {
        if (ticket_title == "") {
          $("#titleerr").css("display", "block")
        } else {
          $("#titleerr").css("display", "none")
        }
        if (contact_aplicant_mail == "") {
          $("#contact_aplicant_mailerr").css("display", "block")
          $("#contact_aplicant_mailerr1").css("display", "none")
        } else {
          if (!contact_aplicant_mail.match('[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$')) {
            $("#contact_aplicant_mailerr").css("display", "none")
            $("#contact_aplicant_mailerr1").css("display", "block")
          } else {
            $("#contact_aplicant_mailerr").css("display", "none")
            $("#contact_aplicant_mailerr1").css("display", "none")
          }
        }
        if (lastname == "") {
          $("#lastnameerr").css("display", "block")
        } else {
          $("#lastnameerr").css("display", "none")
        }
        if (firstname == "") {
          $("#firstnameerr").css("display", "block")
        } else {
          $("#firstnameerr").css("display", "none")
        }
        if (phone != "") {
          if (!phone.match('[0-9]{9}')) {
            $("#phoneerr1").css("display", "block")
          } else {
            $("#phoneerr1").css("display", "none")
          }
        }
        if (enterprise == "") {
          $("#enterpriseerr").css("display", "block")
        } else {
          $("#enterpriseerr").css("display", "none")
        }
        if (mailcopy != "") {
          if (!mailcopy.match('[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$')) {
            $("#mailcopyerr1").css("display", "block")
          } else {
            $("#mailcopyerr1").css("display", "none")
          }
        }
      }
    }


  }

  function secondnextfunc() {
    var provider = $("#provider").val();
    var provider_web_link = $("#provider_web_link").val();
    var description = $("#description").val();
    if (provider != "" && description != "") {
      if (provider_web_link != "") {
        if (!provider_web_link.match('https?://.+')) {
          $("#provider_web_linkerr").css("display", "block")
        } else {
          $("#providererr").css("display", "none")
          $("#provider_web_linkerr").css("display", "none")
          $("#descriptionerr").css("display", "none")

          $('#secondnext').trigger("click");
        }
      } else {
        $("#providererr").css("display", "none")
        $("#provider_web_linkerr").css("display", "none")
        $("#descriptionerr").css("display", "none")

        $('#secondnext').trigger("click");
      }
    } else {
      if (provider == "") {
        $("#providererr").css("display", "block")
      } else {
        $("#providererr").css("display", "none")
      }
      if (provider_web_link != "") {
        if (!provider_web_link.match('https?://.+')) {
          $("#provider_web_linkerr").css("display", "block")
        } else {
          $("#provider_web_linkerr").css("display", "none")
        }
      } else {
        $("#provider_web_linkerr").css("display", "none")
      }
      if (description == "") {
        $("#descriptionerr").css("display", "block")
      } else {
        $("#descriptionerr").css("display", "none")
      }
    }

  }

  function thirdnextfunc() {

    var place = $("#place").val();
    var deliver_address = $("#deliver_address").val();
    var postal_code = $("#postal_code").val();
    var city = $("#city").val();
    var deliver_name = $("#deliver_name").val();
    var phone_delivery = $("#phone_delivery").val();

    if (place != "" && deliver_address != "" && city != "" && deliver_name != "" && postal_code != "" &&
      postal_code.match('[0-9]')) {
      if (phone_delivery != "") {
        if (!phone_delivery.match('[0-9]')) {
          $("#phone_deliveryerr").css("display", "block")
        } else {
          $("#placeerr").css("display", "none")
          $("#deliver_addresserrerr").css("display", "none")
          $("#postal_codeerr").css("display", "none")
          $("#postal_codeerr1").css("display", "none")
          $("#cityerr").css("display", "none")
          $("#deliver_nameerr").css("display", "none")
          $("#phone_deliveryerr").css("display", "none")


          $("#vticket_title").html($("#ticket_title").val())
          $("#vcontact_aplicant_mail").html($("#contact_aplicant_mail").val())
          $("#vlastname").html($("#lastname").val())
          $("#vfirstname").html($("#firstname").val())
          $("#vphone").html($("#phone").val())
          $("#venterprise").html($("#enterprise").val())
          $("#vmailcopy").html($("#mailcopy").val())

          $("#vprovider").html($("#provider").val())
          $("#vprovider_web_link").html($("#provider_web_link").val())
          $("#vdescription").html($("#description").val())

          $("#vplace").html($("#place").val())
          $("#vdeliver_address").html($("#deliver_address").val())
          $("#vpostal_code").html($("#postal_code").val())
          $("#vcity").html($("#city").val())
          $("#vdeliver_name").html($("#deliver_name").val())
          $("#vphone_delivery").html($("#phone_delivery").val())
          $("#vdescription_delivery").html($("#description_delivery").val())
          if ($('#attachment').val() != "") {
            var list = document.getElementById('fileList');
            while (list.hasChildNodes()) {
              list.removeChild(ul.firstChild);
            }
            for (var x = 0; x < document.getElementById('attachment').files.length; x++) {
              var li = document.createElement('li');
              li.innerHTML = 'File ' + (x + 1) + ':  ' + document.getElementById('attachment').files[x].name;
              list.append(li);
            }
            // $("#vattachments").html(document.getElementById('attachment').files[0].name)
            // $("#attachmentsdiv").css("display", "block")
          } else {
            $("#attachmentsdiv").css("display", "none")
          }
          $('#thirdnext').trigger("click");
        }
      } else {
        $("#placeerr").css("display", "none")
        $("#deliver_addresserrerr").css("display", "none")
        $("#postal_codeerr").css("display", "none")
        $("#postal_codeerr1").css("display", "none")
        $("#cityerr").css("display", "none")
        $("#deliver_nameerr").css("display", "none")
        $("#phone_deliveryerr").css("display", "none")

        $("#vticket_title").html($("#ticket_title").val())
        $("#vcontact_aplicant_mail").html($("#contact_aplicant_mail").val())
        $("#vlastname").html($("#lastname").val())
        $("#vfirstname").html($("#firstname").val())
        $("#vphone").html($("#phone").val())
        $("#venterprise").html($("#enterprise").val())
        $("#vmailcopy").html($("#mailcopy").val())

        $("#vprovider").html($("#provider").val())
        $("#vprovider_web_link").html($("#provider_web_link").val())
        $("#vdescription").html($("#description").val())

        $("#vplace").html($("#place").val())
        $("#vdeliver_address").html($("#deliver_address").val())
        $("#vpostal_code").html($("#postal_code").val())
        $("#vcity").html($("#city").val())
        $("#vdeliver_name").html($("#deliver_name").val())
        $("#vphone_delivery").html($("#phone_delivery").val())
        $("#vdescription_delivery").html($("#description_delivery").val())
        if ($('#attachment').val() != "") {
          var list = document.getElementById('fileList');
          while (list.hasChildNodes()) {
            list.removeChild(ul.firstChild);
          }
          for (var x = 0; x < document.getElementById('attachment').files.length; x++) {
            var li = document.createElement('li');
            li.innerHTML = 'File ' + (x + 1) + ':  ' + document.getElementById('attachment').files[x].name;
            list.append(li);
          }
          // $("#vattachments").html(document.getElementById('attachment').files[0].name)
          // $("#attachmentsdiv").css("display", "block")
        } else {
          $("#attachmentsdiv").css("display", "none")
        }
        $('#thirdnext').trigger("click");
      }
    } else {

      if (place == "") {
        $("#placeerr").css("display", "block")
      } else {
        $("#placeerr").css("display", "none")
      }
      if (deliver_address == "") {
        $("#deliver_addresserr").css("display", "block")
      } else {
        $("#deliver_addresserr").css("display", "none")
      }
      if (city == "") {
        $("#cityerr").css("display", "block")
      } else {
        $("#cityerr").css("display", "none")
      }
      if (deliver_name == "") {
        $("#deliver_nameerr").css("display", "block")
      } else {
        $("#deliver_nameerr").css("display", "none")
      }
      if (phone_delivery != "") {
        if (!phone_delivery.match('[0-9]{9}')) {
          $("#phone_deliveryerr").css("display", "block")
        } else {
          $("#phone_deliveryerr").css("display", "none")
        }
      } else {
        $("#phone_deliveryerr").css("display", "none")
      }
      if (postal_code != "") {
        if (!postal_code.match('[0-9]')) {
          $("#postal_codeerr").css("display", "none")
          $("#postal_codeerr1").css("display", "block")
        } else {
          $("#postal_codeerr").css("display", "none")
          $("#postal_codeerr1").css("display", "none")
        }
      } else {
        $("#postal_codeerr").css("display", "block")
        $("#postal_codeerr1").css("display", "none")
      }
    }

  }

  function formSubmit() {
    $("#progressdiv").css("display", "block")
    event.preventDefault();
    var friendForm = $("#msform");
    var posting = $.post(friendForm.attr('action'), friendForm.serialize());
    posting.done(function (data) {
      if ($('#attachment').val() != "") {
        formAttachments(data)
      }
      $("#order_id").html(data)
      $("#faileddiv").css("display", "none")
      $("#successdiv").css("display", "block")
      $("#progressdiv").css("display", "none")
      $('#submit_next').trigger("click");
    });
    posting.fail(function (data) {
      $("#order_id").html('')
      $("#faileddiv").css("display", "block")
      $("#successdiv").css("display", "none")
      $("#progressdiv").css("display", "none")
      $('#submit_next').trigger("click");
    });
  }


  function formAttachments(tkey) {
    var form = new FormData(document.getElementById('aform'));

    for (var x = 0; x < document.getElementById('attachment').files.length; x++) {
      var file = document.getElementById('attachment').files[x];
      if (file) {
        form.append('attachment', file);
        form.append('ticketkey', tkey);
      }
      $.ajax({
        type: "POST",
        url: "add_attachments",
        data: form,
        cache: false,
        contentType: false, //must, tell jQuery not to process the data
        processData: false,
        //data: $("#upload_img").serialize(),
        success: function (data) {
        }
      });
    }


  }

  function removeAttachments() {
    alert("right")
    $('#attachment').val('');
    $("#attachmentsdiv").css("display", "none")
  }

  function goback() {
    event.preventDefault();
    location.reload();
  }

  function gobackhome() {
    event.preventDefault();
    location.replace('/pages/dashboard');
  }

  function logout() {
    window.location.replace("/pages/logout")
  }


</script>

<div class="css-7zhzs9-ContainerNavigationMask">
  <div class=" css-jdgyoy-PrimaryItemsList">
    <div data-testid="GlobalNavigation" class="GlobalNavigation">
      <div>
        <ul class="css-1rawbl">

          <li class="logo_img">
            <img src="{% static 'image/Open-Order.png' %}">
          </li>
          <a href="dashboard">
            <li>
              <img src="{% static 'image/Homeblank.svg' %}">
            </li>
          </a>
          <a onclick="goback()" href="">
            <li>
              <img src="{% static 'image/PlusWhite.png' %}">
            </li>
          </a>
          <li>
            <span onclick="logout()"> <img src="{% static 'image/LogoutWhite.svg' %}"></span>
          </li>

        </ul>
      </div>

    </div>

    <div class="sidebar-section">
      <div class="second-sidebar">
        <h1 class="sidebar-info">Connection tanteque</h1>
        <p>{{user_email}}</p>

      </div>

      <span class="hoverRighticon1">
        <i class="fa fa-angle-left firstic1" aria-hidden="true" style="display: none;"></i>
        <i class="fa fa-angle-right secIcon1" aria-hidden="true" style="display: block;"></i>
      </span>
      <h1 class="sidebar-info si_mgbox"> Merci de renseigner l'ensemble des informations pour que nous puissions
        répondre au mieux å votre demand.</h1>


    </div>
  </div>
  <!-- Rightpart-section -->
  <div class="dashboard-main-section1">
    <div class="mbldisplay ">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>

    </div>
    <form id="aform" method="post" enctype='multipart/form-data'>{% csrf_token %}
    </form>
    <form id="msform" action="{% url 'create_ticket' %}" method="post" enctype='multipart/form-data'>{% csrf_token %}

      <div class="row row1">
        <div class="col-md-12 col-md-12  pd_none">
          <div class="top_box">
            <img src="{% static 'image/BellBlue.png' %}">
            <div class="heading_n">
              <h1>Nouvel Ordre Achat</h1>
              <h3> Creation d'une nouvelle demande d'acha</h3>
            </div>
          </div>


        </div>
        <div class="col-md-12 col-sm-12 pd_none">
          <!-- progressbar -->
          <div class="zig-zag-bottom">
            <ul id="progressbar">
              <li class="inProgress">Demande</li>
              <li class=""> Ordre </li>
              <li>Adresse</li>
              <li>Confirmation</li>
            </ul>
          </div>


        </div>
        <div class="col-lg-11  col-md-12 common_css_f pd_none">
          <!-- fieldsets -->
          <fieldset class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label> Titre de l'ordre <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" id="ticket_title" name="ticket_title" placeholder="Achat matériel informatique ">
                <span style="display: none;" id="titleerr" class="createTickMsg">Entrez s'il vous plait Titre de
                  l'ordre</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label> Mail Demandeur <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="contact_aplicant_mail" id="contact_aplicant_mail" readonly
                  value="{{user_email}}" placeholder="Mail_utillisateur@société.com">
                <span style="display: none;" id="contact_aplicant_mailerr" class="createTickMsg">Entrez s'il vous plait
                  Mail Demandeur</span>
                <span style="display: none;" id="contact_aplicant_mailerr1" class="createTickMsg">Entrez s'il vous plait
                  correct Mail Demandeur</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Nom<span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="lastname" id="lastname" placeholder="Gerard">
                <span style="display: none;" id="lastnameerr" class="createTickMsg">Entrez s'il vous plait Nom</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Prénom <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="firstname" id="firstname" placeholder="MENVUSSA">
                <span style="display: none;" id="firstnameerr" class="createTickMsg">Entrez s'il vous plait
                  Prénom</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>N de telephone :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="phone" id="phone" placeholder="">
                <span style="display: none;" id="phoneerr1" class="createTickMsg">Entrez s'il vous plait valide N de
                  telephone</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Enterprise / Service <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="enterprise" id="enterprise" id="ticket_enterprise_service" placeholder="">
                <span style="display: none;" id="enterpriseerr" class="createTickMsg">Entrez s'il vous plait Enterprise
                  / Service</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Mail personne en copie :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="mailcopy" id="mailcopy" placeholder="">
                <span style="display: none;" id="mailcopyerr1" class="createTickMsg">Entrez s'il vous plait valide Mail
                  personne en copie</span>
              </div>
            </div>

            <span class="action-button" onclick="firstnextfunc()">Suivant <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i></span>
            <span id="firstnext" style="display: none;" class="next action-button">Suivant <i
                class="fa fa-long-arrow-right" aria-hidden="true"></i></span>

          </fieldset>
          <fieldset>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                <label>Nom du Fournisseur <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" id="provider" name="provider" placeholder="Ex : Amazon ">
                <span style="display: none;" id="providererr" class="createTickMsg">Entrez s'il vous plait Nom du
                  Fournisseur</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Site du Fournisseu :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" id="provider_web_link" name="provider_web_link"
                  placeholder="Ex : https://www.amazon.fr ">
                <span style="display: none;" id="provider_web_linkerr" class="createTickMsg">Entrez s'il vous plait
                  valide Site du Fournisseu</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label> Description de Ia demande <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <textarea name="description" id="description" rows="6" cols="50"></textarea>
                <span style="display: none;" id="descriptionerr" class="createTickMsg">Entrez s'il vous plait
                  Description de Ia demande</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Pieces jointes :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="file" id="attachment" name="attachment[]" multiple>
              </div>
            </div>
            <!-- <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <ul class="attachment">
                  <li>
                    <p><img src="{% static 'image/powerpoint.png' %}" class="icon_zip"><a href="">Liste des pieces ppt<i
                          class="fa fa-times" aria-hidden="true"></i></a></p>
                    <p><img src="{% static 'image/doc.svg' %}" class="icon_zip"><a href="">Liste des prix docx <i
                          class="fa fa-times" aria-hidden="true"></i> </a></p>
                  </li>
                </ul>
              </div>
            </div> -->
            <span class="previous action-button-previous"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              Precedent </span>
            <span class="action-button" onclick="secondnextfunc()">Suivant <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i></span>
            <span id="secondnext" style="display: none;" class="next action-button">Suivant <i
                class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
          </fieldset>
          <fieldset>
            <div class=" foSi">
              <label> ADRESSE DE LIVRAISON </label> <br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Chez <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="place" id="place" placeholder="">
                <span style="display: none;" id="placeerr" class="createTickMsg">Entrez s'il vous plait Chez</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Adresse <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <textarea rows="6" name="deliver_address" id="deliver_address" cols="50"></textarea>
                <span style="display: none;" id="deliver_addresserr" class="createTickMsg">Entrez s'il vous plait
                  Adresse</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Code Postal <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="postal_code" id="postal_code" placeholder=" Ex : 01600">
                <span style="display: none;" id="postal_codeerr" class="createTickMsg">Entrez s'il vous plait Code
                  Postal</span>
                <span style="display: none;" id="postal_codeerr1" class="createTickMsg">Entrez s'il vous plait valide
                  Code Postal</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Ville <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input name="city" id="city" type="text" placeholder=" Ex : Reyrieux">
                <span style="display: none;" id="cityerr" class="createTickMsg">Entrez s'il vous plait Ville</span>
              </div>
            </div>
            <div class=" foSi">
              <label> CONTACT DE LIVRAISON </label> <br>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Nom Prénom <span>*</span> :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="deliver_name" id="deliver_name" placeholder=" Gérard MEMVUSSA">
                <span style="display: none;" id="deliver_nameerr" class="createTickMsg">Entrez s'il vous plait Nom
                  Prénom</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Téléphone :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <input type="text" name="phone_delivery" id="phone_delivery" placeholder=" Ex : 184 rue du lavoir">
                <span style="display: none;" id="phone_deliveryerr" class="createTickMsg">Entrez s'il vous plait valide
                  Téléphone</span>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group ">
                <label>Complément d'information :</label>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="form-group">
                <textarea name="instruction" id="description_delivery" rows="6" cols="50"></textarea>
              </div>
            </div>

            <span class="previous action-button-previous"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              Precedent </span>
            <span id="thirdnext" style="display: none;" class="next action-button">Suivant <i
                class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
            <span onclick="thirdnextfunc()" class="action-button">Suivant <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i></span>
          </fieldset>
          <fieldset>
            <h2 class="fs-title">Resume</h2>
            <h3 class="fs-subtitle" id="vticket_title"></h3>
            <ul class="details_view col-md-offset-1 col-md-11 col-sm-12">
              <li>
                <p id="vlastname"></p>
                <p id="vfirstname"></p>
                <p id="vphone"></p>
                <p id="venterprise"></p>
                <p id="vcontact_aplicant_mail"></p>
                <p id="vmailcopy"></p>
              </li>
              <li>
                <p id="vplace"></p>
                <p id="vdeliver_address"></p>
                <p id="vpostal_code"></p>
                <p id="vcity"></p>
              </li>
            </ul>
            <ul class="details_view col-md-offset-1 col-md-11 col-sm-12">
              <li>
                <p id="vprovider">
                  <p id="vprovider_web_link"></p>
                </p>
                <p id="vdescription"></p>
              </li>
              <li>
                <p id="vdeliver_name"></p>
                <p id="vphone_delivery"></p>
                <p id="vdescription_delivery"></p>
              </li>
            </ul>
            <ul class="attachment details_view col-md-offset-1 col-md-11 col-sm-12">
              <li>
                <!-- <p id="vattachments"><a href=""><i class="fa fa-times" aria-hidden="true"></i></a></p> -->
                <div id="attachmentsdiv">
                  <ul id="fileList"></ul>
                  <!-- <span id="vattachments"></span> <img src="{% static 'image/close.png' %}" class="icon_zip"
                    onclick="removeAttachments()"> -->
                </div>
                <!-- <p> <img src="{% static 'image/doc.svg' %}" class="icon_zip"><a href="">Liste des prix docx <i
                      class="fa fa-times" aria-hidden="true"></i> </a></p> -->
              </li>
            </ul>

            <span class="previous action-button-previous lastPreviousBtn"><i class="fa fa-long-arrow-left"
                aria-hidden="true"></i>
              Precedent </span>
            <!-- <span class="next action-button" >Valider <i class="fa fa-check" aria-hidden="true"></i></span> -->
            <!-- <input class="next action-button" type="button" onclick="formSubmit()" name="Valider" value="Valider"> -->

            <span class="action-button"><input class="lastvalider" type="button" onclick="formSubmit()" name="Valider"
                value="Valider"> <i class="fa fa-check" aria-hidden="true"></i></span>
            <span style="display: none;" id="submit_next" class="next action-button"><input class="lastvalider"
                type="button" name="Valider" value="Valider"> <i class="fa fa-check" aria-hidden="true"></i></span>
          </fieldset>
          <fieldset>
            <div class="col-lg-11 col-md-12 col-sm-12">

              <div style="display: none;" id="successdiv">
                <h2 class="fs-title">Merci. Votre ordre achat å bien été envoyée.</h2>
                <div class="o_blog">
                  <h2 class="fs-title"> II porte Ie numéro :</h2>
                  <div class="orderBox">
                    <h1><span id="order_id"></span> <span class="u_name">Achat fourniture</span></h1>
                    <h1>Statuts :<span> PLACE DE COMMANDE</span></h1>
                  </div>
                </div>
                <div class="o_btn_box">
                  <button style="cursor: pointer;" onclick="goback()" class="bck_btn"> <img
                      src="{% static 'image/PlusWhite.png' %}"> Créer un
                    nouvel ordre
                    d'achat</button>
                  <button style="cursor: pointer;" onclick="gobackhome()" class="su_btn"> Retourner a l' Accueil <img
                      src="{% static 'image/Homeblank.svg' %}"></button>
                </div>
              </div>

              <!-- case 2 -->
              <!-- <hr> -->
              <div style="display: none;" id="faileddiv">
                <div class="o_blog">
                  <h2 class="fs-title"><span><img src="{% static 'image/error.png' %}"></span><span> Une erreur s'est
                      produite </span></h2>
                  <div class="orderBox">
                    <h1><span><img src="{% static 'image/msg.svg' %}" class="errorIm"></span><span> Merci de contacter
                        l'équipe Open Order en cliquant </span> <a href="">ici</a></h1>
                  </div>
                </div>
                <div class="o_btn_box">
                  <button style="cursor: pointer;" onclick="goback()" class="bck_btn"> <img
                      src="{% static 'image/PlusWhite.png' %}"> Créer un
                    nouvel ordre
                    d'achat</button>
                  <button style="cursor: pointer;" onclick="gobackhome()" class="su_btn"> Retourner a l' Accueil <img
                      src="{% static 'image/Homeblank.svg' %}"></button>
                </div>
              </div>
            </div>



          </fieldset>
        </div>

        <!-- /.MultiStep Form -->


      </div>
    </form>
  </div>


</div>
<div id="progressdiv" style="position: fixed;display: none;
z-index: 199;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,.4);"><img style="margin-top: 20%;
    height: 109px;
    margin-left: 48%;" src="{% static 'image/progres.gif' %}"></div>
{% include 'partials/_footer-scripts.html'%}

{% endblock %}