{% load static %}
{% block content %}
{% include '_head.html'%}

<script>
   window.onload = function () {
     
    var value = sessionStorage.getItem("filter")
    $(this).removeClass('active');
    if (value == 'All') {
      $('#All').addClass('active')
    } else if (value == 'En cours') {
      $('#InProgress').addClass('active')
    } else if (value == 'terminé') {
      $('#Done').addClass('active')
    } else if (value == 'Annulé') {
      $('#Cancelled').addClass('active')
    } else if (value == 'bloquée') {
      $('#notification').addClass('active')
    } else if (value == 'Creation') {
      $('#Creation').addClass('active')
    }
  }

  function logout() {
    window.location.replace("/pages/logout")
  }
  function find() {
    var value;
     
    value = $('#search_txt').val()
    window.location.replace("/pages/dashboard/" + value)
    $.get('dashboard/' + value, function (data) {
       
      window.location.replace("/pages/dashboard/" + value)
    });
  }
  function filter(e) {
    var value;
    value = e
    sessionStorage.setItem("filter", value)
    window.location.replace("/pages/dashboard/" + value)
    $.get('dashboard/' + value, function (data) {
       
      window.location.replace("/pages/dashboard/" + value)

    });
  }
  function datefilter() {
    $("#daterange").trigger("click")
  }
  $('#daterange').on('hide.daterangepicker', function (ev, picker) {
    //do something, like clearing an input
    alert($('#daterange').val());
  });
  function gobackhome() {
    event.preventDefault();
    location.replace('/pages/dashboard');
  }

</script>
<div class="css-7zhzs9-ContainerNavigationMask">
  <div class=" css-jdgyoy-PrimaryItemsList">
    <div class="GlobalNavigation" data-testid="GlobalNavigation">
      <div>
        <ul class="css-1rawbl">

          <li class="logo_img">
            <img src="{% static 'image/Open-Order.png'%}">
          </li>
          <a onclick="gobackhome()" href="">
            <li>
              <img src="{% static 'image/Homeblank.svg'%}">
            </li>
          </a>
          <li>
            <a href="/pages/createticket"><img onclick="create_ticket()" src="{% static 'image/PlusWhite.png'%}"></a>
          </li>
          <li>
            <!--          <a href="logout" > -->
            <span onclick="logout()" style="cursor:pointer"><img src="{% static 'image/LogoutWhite.svg'%}"></span>
            <!--          </a>-->
          </li>

        </ul>
      </div>

    </div>

    <div class="sidebar-section">
      <div class="second-sidebar">
        <h1 class="sidebar-info">
          Connectéantantque</h1>
        <p>{{user_email}}</p>
      </div>
      <span class="hoverRighticon1">
        <i class="fa fa-angle-left firstic1" aria-hidden="true" style="display: none;"></i>
        <i class="fa fa-angle-right secIcon1" aria-hidden="true" style="display: block;"></i>
      </span>

      {% if flag %}
      <div class="about-orders">
        <h1>Derniers Ordres</h1>
        <p>Achats Modifiés:</p>
      </div>
      {% for j in lt_list %}
      <div class="about-orders">
        <h1>{{j.key}}</h1>
        <p>{{j.summary}}</p>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <!-- Rightpart-section -->
  <div class="dashboard-main-section">
    <div class="col-md-12 oper-btn">
      <a href="/pages/createticket"> <button class="operate-btn" style="cursor:pointer"><img
            src="{% static 'image/rhombus.png'%}"> PASSER UN
          ORDRE</button></a>
    </div>

    <div class="col-lg-12 col-mg-12 col-sm-12">
      <div class="heading-m">
        <h1>O<span>PEN </span>SYS</h1>
      </div>

      {% if flag %}
      <div class="recordDetail">
        <div class="main">
          <div class="form-group has-search">
            <!-- <span class="fa fa-search form-control-feedback"></span> -->

            <img class="form-control-feedback" src="{% static 'image/search.png'%}">
            <input type="text" id="search_txt" value="{{searchkey}}" class="form-control" onchange="find()"
              placeholder="Chercher">

          </div>
        </div>

        <div class="filters">
          <ul>
            <li>Filtres:</li>
            <li id="All" class="" onclick="filter('All')">Tous</li>
            <li id="InProgress" onclick="filter('En cours')">Encours</li>
             <li id="Done" onclick="filter('Terminé')">terminé</li>
             <li id="Cancelled" onclick="filter('Annulé')"> Annulée</li> 
            <li id="notification" onclick="filter('Bloqué')" class="notification">bloquée
              <span class="nott">{{block_count}}</span>
            </li>
            <li id="Creation" onclick="datefilter()">par date de création <span id="daterangespan">{{searchdate}}</span></li>
            <input type="text" name="daterange" id="daterange"
                value="Select Date" style="visibility: hidden;width: 0px;" />
          </ul>

        </div>


        <div class="table-main-section">
          <div class="table-content">
            <h1>Mes Ordres Achats<span>
                <div class="pagination">
                  <span class="step-links">
                    <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                  </span>
                </div>
              </span></h1>

          </div>
          <div class="table-responsive">
            <table id="example" class="table tab-sec">
              <thead class="table-heading-section">

                <tr>
                  <th>Icône</th>
                  <th>Clé</th>
                  <th>Résumé</th>
                  <th>Fournisseur</th>
                  <th>Statut</th>
                  <th>Créé</th>
                  <th>Mis à jour</th>
                  <th>Cessionnaire</th>
                </tr>
              </thead>
              <tbody class="table-subheading">
                {% for i in page_obj %}
                <tr>
                  <td><img src="{% static 'image/add.png'%} " class="tab_icon"></td>
                  <td><a href="/pages/detail/{{i.key}}">{{i.key}}</a></td>
                  <td>{{i.summary}}</td>
                  <td>{{i.suplier}}</td>
                  <td>{{i.status}}</td>
                  <td>{{i.created}}</td>
                  <td>{{i.updated}}</td>
                  <td>{{i.assignee}}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
          <div class="pagination">
            <span class="step-links1 step-links">
              {% if page_obj.has_previous %}
              <a href="?page=1" class="link"> Premier</a>
              <a href="?page={{ page_obj.previous_page_number }}" class="link"><i class="fa fa-arrow-left"></i>
                Précédent</a>
              {% endif %}

              <span class="current link">
                Page {{ page_obj.number }}
              </span>

              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class="link">Prochain <i
                  class="fa fa-arrow-right"></i></a>
              <a href="?page={{ page_obj.paginator.num_pages }}" class="link2">Dernier</a>
              {% endif %}
            </span>
          </div>
        </div>
        {% else %}
        <div class="col-lg-12 col-mg-12 col-sm-12">
          <div class="errorMsg_div text-center">
            <p class="errorMsgNoTickt">Aucun ticket associé à cette adresse e-mail.</p>
            <p class="errorMsgNoTickt1">Tu penses que c'est une erreur?</p>
            <p class="errorMsgNoTickt2">Merci de vérifier l'adresse e-mail saisie au moment de la connexion et de vous
              connecter. <span class="errorEmail">example@gmail.com</span></p>
            <p class="errorMsgNoTickt2">Contact us herea <a href="#" class="errorcontact">Contact Us</a></p>

          </div>
        </div>
        {% endif %}


      </div>

    </div>

  </div>


</div>

{% endblock %}


{% include 'partials/_footer-scripts.html'%}
<script>
  $(function () {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    }, function (start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      value=start.format('YYYY-MM-DD')+'to'+end.format('YYYY-MM-DD')
      sessionStorage.setItem("filter", "Creation")      
      window.location.replace("/pages/dashboard/" + value)
      $.get('dashboard/' + value, function (data) {
         
        window.location.replace("/pages/dashboard/" + value)
      });
    });
  });
</script>